<script lang="ts">
 import { page } from '$app/stores'
</script>

<svelte:head>
    <title>Ruh-roh! {$page.status}</title>
</svelte:head>

<section>
    <div class='container text-center'>
            <h1 class="mb-5 sm:mb-7 text-4xl sm:text-5xl font-bold">
                {$page.status}
            </h1>
            <p class="mb-5 sm:mb-7 sm:text-lg">
                {$page.error?.message}
            </p>
            <p>It looks like <code>{$page.url}</code> doesn't exist</p>
            <a href="/" class="btn">Bring me back!</a>
    </div>
</section>
