<script lang="ts">
 import '$lib/global.css';
 import Footer from '$home/lib/components/footer.svelte';
 import Header from '$home/lib/components/header.svelte';
 import { themeStore } from '$home/lib/stores/themeStore';
 import { browser } from '$app/environment';
 import type { LayoutServerData } from './$types';
    import BttButton from '$home/lib/components/btt-button.svelte';

 // Data injected from +layout.server.ts
 export let data: LayoutServerData;

 $themeStore = data.theme;

 // Works only client side!
 // Reactive statement if themeStore changes then updates document theme
 $: browser && (document.documentElement.dataset.theme = $themeStore)

</script>

<BttButton />
<Header />
<slot />
<Footer />
