<script lang="ts">
 import Hero from "$home/lib/components/hero.svelte";
</script>

<section>

    <Hero />

    <section class='py-10 md:py-16'>
        <div class='container'>
            <div class='text-center'>
                <h2 class='text-3xl sm:text-5xl font-bold mb-4'>What We Do</h2>
                <p class='text-lg sm:text-2xl mb-6 md:mb-14'>
                    Save time managing advertising & Content for your business.
                </p>
            </div>

            <div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 lg:gap-8 xl:gap-10'>
                <div class="card bg-base-200 transform-gpu transition-all duration-300 hover:-translate-y-2 hover:shadow-lg">
                    <div class="card-body items-center text-center gap-4">
                        <i class='bi bi-search text-4xl'></i>
                        <h2 class="card-title">SEO Services</h2>
                        <p>
                            This is a wider card with <br class='hidden xl:inline' />supporting text below as a <br class='hidden xl:inline' /> natural content.
                        </p>
                    </div>
                </div>

                <div class="card bg-base-200 transform-gpu transition-all duration-300 hover:-translate-y-2 hover:shadow-lg">
                    <div class="card-body items-center text-center gap-4">
                        <i class='bi bi-chat-left-dots text-4xl'></i>
                        <h2 class="card-title">Social Content</h2>
                        <p>
                            This is a wider card with <br class='hidden xl:inline' />supporting text below as a <br class='hidden xl:inline' /> natural content.
                        </p>
                    </div>
                </div>

                <div class="card bg-base-200 transform-gpu transition-all duration-300 hover:-translate-y-2 hover:shadow-lg">
                    <div class="card-body items-center text-center gap-4">
                        <i class='bi bi-badge-ad text-4xl'></i>
                        <h2 class="card-title">Creative ads</h2>
                        <p>
                            This is a wider card with <br class='hidden xl:inline' />supporting text below as a <br class='hidden xl:inline' /> natural content.
                        </p>
                    </div>
                </div>

                <div class="card bg-base-200 transform-gpu transition-all duration-300 hover:-translate-y-2 hover:shadow-lg">
                    <div class="card-body items-center text-center gap-4">
                        <i class='bi bi-card-checklist text-4xl'></i>
                        <h2 class="card-title">Brand Identity</h2>
                        <p>
                            This is a wider card with <br class='hidden xl:inline' />supporting text below as a <br class='hidden xl:inline' /> natural content.
                        </p>
                    </div>
                </div>

                <div class="card bg-base-200 transform-gpu transition-all duration-300 hover:-translate-y-2 hover:shadow-lg">
                    <div class="card-body items-center text-center gap-4">
                        <i class='bi bi-wallet2 text-4xl'></i>
                        <h2 class="card-title">Budget & Marketing</h2>
                        <p>
                            This is a wider card with <br class='hidden xl:inline' />supporting text below as a <br class='hidden xl:inline' /> natural content.
                        </p>
                    </div>
                </div>

                <div class="card bg-base-200 transform-gpu transition-all duration-300 hover:-translate-y-2 hover:shadow-lg">
                    <div class="card-body items-center text-center gap-4">
                        <i class='bi bi-funnel text-4xl'></i>
                        <h2 class="card-title">Optimize conversions</h2>
                        <p>
                            This is a wider card with <br class='hidden xl:inline' />supporting text below as a <br class='hidden xl:inline' /> natural content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class='py-10 md:py-16 bg-neutral'>
        <div class='container'>
            <div class='text-center text-white'>
                <h2 class='text-3xl sm:text-5xl font-bold mb-4'>We have some fans.</h2>
                <p class='text-lg sm:text-2xl mb-6 md:mb-14'>
                    We create engaging experiences that are innovatingand beautiful.
                </p>
            </div>
            <div class='columns-1 sm:columns-2 lg:columns-3 gap-6 lg:gap-8'>
                <div class='block mb-8 lg:mb-10'>

                    <div class='stack'>

                        <div class="card shadow-md bg-secondary text-secondary-content">
                            <div class="card-body gap-4">
                                <div class='flex items-center'>
                                    <div class="avatar flex-shrink-0">
                                        <div class="w-16 rounded-full border-2 border-white">
                                            <img src="https://placeimg.com/100/100/people" />
                                        </div>
                                    </div>

                                    <div class='ml-3'>
                                        <p class='text-lg font-medium leading-tight'>Eric Ampire</p>
                                        <small>Mobile dev</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aliquid quo eum quae quos illo earum ipsa doloribus nostrum minus libero aspernatur laborum cum, a suscipit, ratione ea totam ullam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.
                                </p>
                            </div>
                        </div>
                        <div class='card shadow bg-primary h-10'></div>
                        <div class='card shadow-sm bg-warning h-10'></div>
                    </div>
                </div>

                <div class='block mb-8 lg:mb-10'>
                    <div class='stack'>
                        <div class="card bg-secondary text-secondary-content">
                            <div class="card-body gap-4">
                                <div class='flex items-center'>
                                    <div class="avatar flex-shrink-0">
                                        <div class="w-16 rounded-full border-2 border-white">
                                            <img src="https://placeimg.com/99/99/people" />
                                        </div>
                                    </div>

                                    <div class='ml-3'>
                                        <p class='text-lg font-medium leading-tight'>Adam Wathan</p>
                                        <small>Creator of Tailwindcss</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.
                                </p>
                            </div>
                        </div>
                        <div class='card bg-primary h-10'></div>
                        <div class='card bg-warning h-10'></div>
                    </div>
                </div>

                <div class='block mb-8 lg:mb-10'>
                    <div class='stack'>
                        <div class="card bg-secondary text-secondary-content">
                            <div class="card-body gap-4">
                                <div class='flex items-center'>
                                    <div class="avatar flex-shrink-0">
                                        <div class="w-16 rounded-full border-2 border-white">
                                            <img src="https://placeimg.com/98/98/people" />
                                        </div>
                                    </div>

                                    <div class='ml-3'>
                                        <p class='text-lg font-medium leading-tight'>Ben Sulumu</p>
                                        <small>Manager</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.
                                </p>
                            </div>
                        </div>
                        <div class='card bg-primary h-10'></div>
                        <div class='card bg-warning h-10'></div>
                    </div>
                </div>

                <div class='block mb-8 lg:mb-10'>
                    <div class='stack'>
                        <div class="card bg-secondary text-secondary-content">
                            <div class="card-body gap-4">
                                <div class='flex items-center'>
                                    <div class="avatar flex-shrink-0">
                                        <div class="w-16 rounded-full border-2 border-white">
                                            <img src="https://placeimg.com/97/97/people" />
                                        </div>
                                    </div>

                                    <div class='ml-3'>
                                        <p class='text-lg font-medium leading-tight'>Rodrigo Aguilar</p>
                                        <small>Creator of Tailwind Awesome</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.
                                </p>
                            </div>
                        </div>
                        <div class='card bg-primary h-10'></div>
                        <div class='card bg-warning h-10'></div>
                    </div>
                </div>

                <div class='block mb-8 lg:mb-10'>
                    <div class='stack'>
                        <div class="card bg-secondary text-secondary-content">
                            <div class="card-body gap-4">
                                <div class='flex items-center'>
                                    <div class="avatar flex-shrink-0">
                                        <div class="w-16 rounded-full border-2 border-white">
                                            <img src="https://placeimg.com/96/96/people" />
                                        </div>
                                    </div>

                                    <div class='ml-3'>
                                        <p class='text-lg font-medium leading-tight'>Dan Kyungu</p>
                                        <small>Mobile dev</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.
                                </p>
                            </div>
                        </div>
                        <div class='card bg-primary h-10'></div>
                        <div class='card bg-warning h-10'></div>
                    </div>
                </div>

                <div class='block mb-8 lg:mb-10'>
                    <div class='stack'>
                        <div class="card bg-secondary text-secondary-content">
                            <div class="card-body gap-4">
                                <div class='flex items-center'>
                                    <div class="avatar flex-shrink-0">
                                        <div class="w-16 rounded-full border-2 border-white">
                                            <img src="https://placeimg.com/95/95/people" />
                                        </div>
                                    </div>

                                    <div class='ml-3'>
                                        <p class='text-lg font-medium leading-tight'>Randy Doe</p>
                                        <small>Mobile dev</small>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.
                                </p>
                            </div>
                        </div>
                        <div class='card bg-primary h-10'></div>
                        <div class='card bg-warning h-10'></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class='py-12 md:py-24'>
        <div class='container'>
            <div class='flex flex-col md:flex-row justify-center items-center gap-6 text-center md:text-start'>
                <span class='flex-grow text-4xl md:text-5xl 2xl:text-6xl font-bold text-primary'>Let's make something <br class='hidden sm:inline' /> great together.</span>
                <button class='btn btn-secondary rounded-full sm:btn-lg'>Let's connect</button>
            </div>
        </div>
    </section>
</section>
