<script lang="ts">

 import type { PageData } from './$houdini';
 import ProjectCard from '$lib/components/project-card.svelte';
 import { goto } from '$app/navigation';
 import { page } from '$app/stores';

 export let data: PageData;

 const handleNavToProject = (event: CustomEvent) => {
     goto($page.url.pathname + '/' + event.detail.slug);
 }

 // pull the store reference from the route props
 $: ({ GetProjects } = data);

</script>

<div class="container px-6 py-10 mx-auto">
    <h1 class="text-3xl text-center w-full mx-auto rounded-lg">Personal Projects</h1>
    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 sm:grid-cols-2 xl:grid-cols-4 lg:grid-cols-3">
        {#if $GetProjects.data?.projects.length}
            {#each $GetProjects.data?.projects as {name, image, description, slug} }
                {#if slug}
                    <ProjectCard
                        project_name={name}
                                     project_description={description}
                        project_image_url={image[0].url}
                                     project_slug={slug}
                        on:navToProjectBtnClick={handleNavToProject}
                    />
                {/if}
            {/each}
        {/if}
    </div>
</div>
