<script lang="ts">

 import { fly } from 'svelte/transition'

 let show_button: boolean = false;
 let last_y: number = 0.0;

 const scrollTT = () => {
     window.scrollTo({
         top: 0.0,
         behavior: 'smooth',
     })
 }

 const handleScroll = () => {
     const current_y = window.pageYOffset;
     show_button = current_y > last_y && current_y > 0;
     last_y = current_y;
 }

</script>

<svelte:window on:scroll={handleScroll} />

{#if show_button}
    <button on:click={scrollTT} transition:fly={{ y: 200, duration: 300 }} class="fixed bottom-20 lg:bottom-8 right-4 lg:right-8 btn btn-accent normal-case shadow-2xl focus:outline-none focus:ring-2 focus:ring-accent z-50">
        Back to top
    </button>
{/if}
