<script lang="ts">
 import ThemeSelect from "./theme-select.svelte";
 import NavRoute from "../utils/route_utils";
</script>

<header class='bg-base-100 py-2 sticky top-0 z-50'>
    <div class='container'>
        <div class="navbar px-0">
            <div class="navbar-start">
                <div class="dropdown">
                    <label class="btn btn-circle btn-primary lg:hidden mr-1">
                        <input value="X">
                    </label>
                    <ul class="dropdown-content mt-1 w-52 menu menu-compact p-2 bg-base-200 shadow rounded-box">
                        <li><a href="{NavRoute.about.id}">{NavRoute.about.name}</a></li>
                        <li><a href="{NavRoute.projects.id}">{NavRoute.projects.name}</a></li>
                        <li><a href="{NavRoute.blog.id}">{NavRoute.blog.name}</a></li>
                    </ul>
                </div>
                <a href="{NavRoute.home.id}" class="btn btn-ghost normal-case text-2xl">n7labs</a>
            </div>
            <div class="navbar-center hidden lg:flex">
                <ul class="menu menu-horizontal p-0 font-medium">
                    <li><a href="{NavRoute.about.id}">{NavRoute.about.name}</a></li>
                    <li><a href="{NavRoute.projects.id}">{NavRoute.projects.name}</a></li>
                    <li><a href="{NavRoute.blog.id}">{NavRoute.blog.name}</a></li>
                </ul>
            </div>
            <div class="navbar-end">
                <ThemeSelect />
            </div>
        </div>
    </div>
</header>
