<script lang="ts">
 import img from "$lib/assets/hero.jpg";
    import RollingText from "./rolling-text.svelte";
</script>

<section>
    <div class="container">
        <div class="hero h-96 md:h-[500px] rounded-box overflow-hidden" style="background-image: url({img});">
            <div class="hero-overlay bg-opacity-40 bg-secondary" />
            <div class="hero-content text-center text-secondary-content">
                <div class="max-w-lg">
                    <h1 class="mb-5 sm:mb-7 text-4xl sm:text-5xl font-bold">
                        Let's make your product a success
                    </h1>
                    <p class="mb-5 sm:mb-7 sm:text-lg">
                        Anim aute id magna aliqua ad ad non deserunt sunt. Qui
                        irure qui lorem cupidatat commodo.
                    </p>
                    <RollingText />
                    <button class="btn btn-warning sm:btn-wide">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</section>
