<script lang="ts">
 export let project_name: string = "";
 export let project_description: string = ""
 export let project_image_url: string = "";
 export let project_slug: string = "";

 import { createEventDispatcher } from "svelte";
 const dispatch = createEventDispatcher();
 const dispatchNavToProject = () => dispatch(
     'navToProjectBtnClick',
     { slug: project_slug }
 )
</script>

<div class="card w-full bg-base-100 shadow-xl">
    <figure><img src={project_image_url} alt={project_name} /></figure>
    <div class="card-body">
        <h2 class="card-title">{project_name}</h2>
        <p>{project_description.slice(0, 80)}...</p>
        <div class="card-actions justify-end">
            <button class="btn btn-primary" on:click={dispatchNavToProject}>
                Take me to it!
            </button>
        </div>
    </div>
</div>
