<script lang="ts">

 import { slide } from 'svelte/transition';
 import { onInterval } from '../utils/timer_utils';

 let index = 0;

 const interval: number = 1000;

 const greetings = ['Hello', 'Bonjour', 'Konnichiwa'];

 const handleTick: Function = () => {
     index = ++index % greetings.length;
 }

 onInterval(handleTick, interval);

</script>

{#key index}
    <h1 transition:slide>{greetings[index]}!</h1>
{/key}
