<script lang="ts">

 import { enhance, type SubmitFunction } from '$app/forms';
 import { themes } from '$lib/utils/appsettings';
 import { themeStore } from '../stores/themeStore';
 import { isThemeValid } from '../utils/theme_utils';

 const submitUpdateTheme: SubmitFunction = ({ action }) => {
     const theme = action.searchParams.get('theme');
     // This will trigger the reactive statement in +layout.svelte in /
     if (isThemeValid(theme)) {
         $themeStore = theme;
     }
 };

 const actionURL: string = "/api/decorator?theme=";

</script>

<div title="Change Theme" class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn gap-1 normal-case">{themes.length - 1} Themes</div>
    <div class="dropdown-content bg-base-200 text-base-content rounded-t-box rounded-b-box top-px max-h-96 h-[70vh] w-52 overflow-y-auto shadow-2xl mt-16">
        <form use:enhance={submitUpdateTheme} method="POST">
            <input name="theme" value="" hidden>
            <div tabindex="0" role="button" class="grid grid-cols-1 gap-3 p-3">
                {#each themes as theme, index}
                    {#if index > 0}
                        <button formaction="{actionURL}{theme}" class="outline-base-content overflow-hidden rounded-lg text-left">
                            <div data-theme="{theme}" class="bg-base-100 text-base-content w-full cursor-pointer font-sans">
                                <div class="grid grid-cols-5 grid-rows-3">
                                    <div class="col-span-5 row-span-3 row-start-1 flex gap-2 py-3 px-4 items-center">
                                        {#if theme === $themeStore}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" class="w-3 h-3">
                                            <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
                                        </svg>
                                        {/if}
                                        <div class="flex-grow text-sm font-bold">{theme}</div>
                                        <div class="flex flex-shrink-0 flex-wrap gap-1 h-full">
                                            <div class="bg-primary w-2 rounded"></div>
                                            <div class="bg-secondary w-2 rounded"></div>
                                            <div class="bg-accent w-2 rounded"></div>
                                            <div class="bg-neutral w-2 rounded">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    {/if}
                {/each}
            </div>
        </form>
    </div>
</div>
